include includes/head.pug
include includes/header.pug

main
    h4 Success.

    p The following files have been generated:

    ul
        each file in archiveFiles
            li= file
        else
            li There are no files.

    - url = 'tool/download?filename=' + tarFile

    a(href=url, id='download')
        button Download
    a(href=BASE)
        button.button-outline Try Again

include includes/footer.pug