include includes/head.pug

main
    form(name='ingest_file', method='POST', action='lddtool', enctype='multipart/form-data')
        p Choose an Ingest LDD file to upload.
        fieldset
            label(for='file') File
            input(type='file', name='file', id='file', accept='.xml', required='true')
        input(type='submit')
        include includes/loading.pug