include includes/head.pug
include includes/header.pug

main
    p This tool provides the functionality of the #[a(href='https://pds.nasa.gov/tools/about/ldd/') PDS4 LDDTool] as a web application.
    
    form(name='ingest_file', method='POST', action='lddtool', enctype='multipart/form-data')
        p Choose an Ingest LDD file to upload.
        fieldset
            label(for='file') File
            input(type='file', name='file', id='file', accept='.xml', required='true')
        input(type='submit')
        include includes/loading.pug